

.bar-menu {
    display:flex;
    align-items: center;
}

#player_count {
    font-size: 58px;
}


ion-icon {
    color: white;
    font-size: 50px;
}

.settings-menu {
    display: none;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12%;
}

p.settings-header {
    text-align: center;
    padding-left:10px;
    font-size: 50px;
    color: var(--theme-blue-settings-header-color);
    font-family: var(--theme-blue-font);
    user-select: none;
}
div.settings-container {
    border-radius: var(--global-border-radius);
    margin-left: 25%;
    margin-right: 25%;
    font-family: var(--theme-blue-font);
    background-color: #010a78;
    user-select: none;
    color: d7a04b;
}

div.settings-container.top {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.settings-container.full-round {
    border-radius: 0;
}

.settings-container.bottom {
    border-radius: 0;
}

.flex-container {
    display: flex;
}

.settings-option {
    flex: 1;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    font-size: 50px;
}

.toggle-button {
    position: relative;
    top: 50%;
    right: 10%;
    margin: auto;
}

.toggle-buttons {
    font-size: 51;
    color: white;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.theme-list {
    display: none;
    position: absolute;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: black;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    z-index: 1;
}

.dropdown:hover .theme-list {
    display: block;
}

.theme-option:hover {
    cursor: pointer;
    background-color: #B7B3B3;
    border-radius: 4px;;
}