.questions {
  font-size: 58px;
  position: absolute;
  background-color: #010a78;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 4px;
  color: #d7a04b;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 12%;
  visibility: hidden;
  user-select: none;
  text-align: center;
}


.timer-container {
  height: 25px;
  background-color:#010a78;
  position: relative;
}

.timer-container .timer-bar {
  position: absolute;
  height: 100%;
  background-color: #d7a04b;
  
}

#play-timer-animation {
  animation: timer-bar-animation 6s  1;
}

@keyframes timer-bar-animation {
  0% {width: 0%}
  100% {width: 100%}
}
