/*Global Variables*/
:root {
  --points-color: #d7a04b;
  --box-background-color: #010a78;
  --box-font-size: 58px;
  --box-borders: black solid 2px;
  --global-font: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --global-border-radius: 4px; 
}


.center {
  margin: auto;
}

body {
  background-color: black;
}

#main {
  margin: auto;
  visibility: visible;
}

.main_table {
  margin: auto;
  font-size: var(--box-font-size);
  border-width: 1px;
  border-color: black;
  background-color: black;
  border-radius: 5px;
}

.headers {
  font-size: 60px;
  border-radius: var(--global-border-radius);
  width: 25%;
  border: var(--box-borders);
  user-select: none;
  font-family: var(--global-font);
  text-align: center;
  background-color: var(--box-background-color);
  color: white;
  padding: 5px;
}

.boxes {
  font-size: var(--box-font-size);
  border-radius: var(--global-border-radius);
  border: var(--box-borders);
  user-select: none;
  font-family: var(--global-font);
  background-color: var(--box-background-color);
  color: var(--points-color);
  cursor: pointer;
}

.score_boxes {
  font-size: var(--box-font-size);
  border-radius: var(--global-border-radius);
  border: var(--box-borders);
  user-select: none;
  font-family: var(--global-font);
  background-color: var(--box-background-color);
  color: var(--points-color);
}

.player_boxes {
  font-size: var(--box-font-size);
  border-radius: var(--global-border-radius);
  border: var(--box-borders);
  user-select: none;
  font-family: var(--global-font);
  background-color: var(--box-background-color);
  color: var(--points-color);
}


button {
  background-color: var(--box-background-color);
  border: none;
  outline: none;
  color: var(--points-color);
  font-size: 20px;
  border-radius: 2px;
  font-family: var(--global-font);
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  }

