/*Global Variables*/

body {
  background-color: black;
  overflow: hidden;
}

#main {
  visibility: visible;
}



.main_table {
  table-layout: fixed;
  width: 100%;
  font-size: var(--global-box-font-size);
  border-width: 1px;
  border-color: black;
  background-color: black;
  border-radius: 5px;
}

table.player-info-table {
  table-layout: fixed;
  width: 100%;
  padding-top: 11px;
}


.headers {
  font-size: 60px;
  border-radius: var(--global-border-radius);
  width: 25%;
  border: var(--global-box-borders);
  user-select: none;
  font-family: 'Baloo Bhaijaan 2', cursive;;
  text-align: center;
  background-color: var(--theme-blue-box-background-color);
  color: white;
  padding: 5px;
}

.boxes {
  font-size: var(--global-box-font-size);
  border-radius: var(--global-border-radius);
  border: var(--global-box-borders);
  user-select: none;
  font-family: var(--theme-blue-font);
  background-color: var(--theme-blue-box-background-color);
  color: var(--theme-blue-points-color);
  cursor: pointer;
}

.score_boxes {
  width: 25%;
  font-size: var(--global-box-font-size);
  border-radius: var(--global-border-radius);
  border: var(--global-box-borders);
  user-select: none;
  font-family: var(--theme-blue-font);
  background-color: var(--theme-blue-box-background-color);
  color: var(--theme-blue-points-color);
}

.player_boxes {
  font-size: var(--global-box-font-size);
  border-radius: var(--global-border-radius);
  border: var(--global-box-borders);
  user-select: none;
  font-family: var(--theme-blue-global-font);
  background-color: var(--theme-blue-box-background-color);
  color: var(--theme-blue-points-color);
}


tr.player_score_buttons {
  text-align: center;
}

button {
  background-color: var(--theme-blue-box-background-color);
  border: none;
  outline: none;
  color: var(--theme-blue-points-color);
  font-size: 20px;
  border-radius: 2px;
  font-family: var(--theme-blue-font);
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
  cursor: pointer;
  } 


